/* Imports */
@import reset

/* Variables */
$default-background: #EEE
$default-text: #333
$card-color: #FFF
$default-font: 'Montserrat'

/* Helpers */
.vcent
  display: inline-block
  height: 100%
  vertical-align: middle

/* Global */

body
  overflow-x: hidden
  font: bold 2.4em $default-font
  color: $default-text
  background-color: $default-background

.newMessage, .score
  color: $default-text
  background-color: $default-background

button
  border: 0
  outline: 0
  cursor: pointer

.newMessage
  margin: 0 auto
  font-size: 2em
  font-weight: 400

.cardList
  font: bold 1em $default-font

/* Content */

.newMessage
  position: absolute
  width: 100%
  top: 0
  background-color: #666
  padding: 0.2em
  color: #FFF

  span
    right: 0

.score
  position: absolute
  bottom: 0

.cardList
  li
    position: absolute
    top: 20%
    left: 10%
    padding: 1em
    height: 60%
    width: 80%
    box-sizing: border-box
    opacity: 1
    text-align: center
    background-color: $card-color
    transition: transform 0.2s ease-out, opacity 0.2s

    &.leave
      opacity: 0
      transform: translateX(-100%) rotate(-60deg)

    p
      display: inline-block
      vertical-align: middle

.heart
  position: absolute
  top: 80%
  left: 50%
  height: 100px
  width: 100px
  margin: -50px
  border-radius: 50px

  &.active
    background-color: red

.next
  position: absolute
  top: 50%
  right: 0
  height: 48px
  width: 8em
  margin-top: -24px
  border-radius: 24px 0 0 24px
  text-transform: uppercase
